!!!
%html
  %head
    %title CÔNG TY KẾ TOÁN XXX dạy làm kế toán thực hành thực tế
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if notice
      %p.alert.alert-notice= notice
    - if alert
      %p.alert.alert-error= alert

    %hr
    %h3 Menu
    %ul
      - Category.where(:active => true, :parent_id => [0, nil]).order(order: 'DESC').each do |category|
        %li
          = category.title.mb_chars.upcase
          %ul
            - Category.where(:active => true, :parent_id => category.id).order(order: 'DESC').each do |child_category|
              %li= child_category.title.titleize
    %hr
    = yield